html {
    --rosa: #FF0077;
    --branco: #ffffff;
    --rosa: #FF0077;
    --rosa-claro: #ffd8ea;
    --azul: #0077ff;
    --cinza: #858585;
    --cinza-claro: #cecece;
    --preto: #382c32;
    --roxo: #C10DFF;
    --laranja: #FF320D;
    --verde: #6cf515;
}
